{% extends "admin/admin_layout.html" %}

{% block admin_content %}

<!-- Recently Added Items Section -->
<div class="mt-8">
    <div class="flex justify-between items-center py-4">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Menu Items</h2>
        <div class="flex items-center space-x-3">
            <a href="{{ url_for('add_menu_item') }}" class="px-3 py-2 bg-green-600 text-white rounded-md">Add
                Item</a>
            <a href="{{ url_for('add_category') }}" class="px-3 py-2 bg-green-600 text-white rounded-md">Add
                category</a>
        </div>

    </div>

    <div class="overflow-x-auto shadow-lg rounded-lg">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Item Name</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Category</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Price</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in menu_items %}
                <tr class="border-t border-gray-200 hover:bg-gray-50">
                    <td class="px-6 py-3 text-sm text-gray-800 flex items-center space-x-4">
                        <img src="{{ url_for('static', filename='uploads/items/' + item.image_url) }}"
                            alt="{{ item.name }}" class="h-8 mr-2">

                        {{ item.name }}
                    </td>
                    <td class="px-6 py-3 text-sm text-gray-600">{{ item.category.name }}</td>
                    <td class="px-6 py-3 text-sm text-gray-600">${{ item.price }}</td>
                    <td class="px-6 py-3 text-sm text-gray-600">
                        <a href="#" class="text-blue-600 hover:underline">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}