{% extends "base.html" %}

{% block content %}


<aside class="bg-white shadow-lg md:min-h-screen p-4">
    <div class="flex items-center mb-8">
        <div class="bg-orange-500 text-white p-2 rounded-lg mr-2">
            <i class="fas fa-utensils"></i>
        </div>
        <a href="{{ url_for('index') }}" class="text-2xl font-semibold text-gray-800">Dine<span
                class="text-orange-500">(VI)</span></a>
    </div>

    <div class="mb-8">
        <h2 class="text-gray-500 text-sm font-medium mb-4">MENU CATEGORIES</h2>
        <ul class="space-y-2">
            <li class="flex items-center p-2 rounded-lg bg-orange-50 text-orange-500">
                <i class="fas fa-hamburger mr-3"></i>
                <span>All Items</span>
            </li>
            <!-- Loop through categories dynamically -->
            {% for category in categories %}
            <a href="{{ url_for('category_items', category_id=category.category_id) }}"
                class="flex space-x-2 items-center p-2 rounded-lg text-gray-700 hover:bg-gray-100">
                <img src="{{ url_for('static', filename='uploads/categories/' + category.image_url) }}"
                    alt="{{ category.name }}" class="h-8">
                <span>{{ category.name }}</span> <!-- Display category name -->
            </a>
            {% endfor %}
        </ul>
    </div>

</aside>

{% endblock %}