{% extends "guest_layout.html" %}

{% block guest_content %}


<!-- overall content -->
<div class="flex-grow overflow-y-auto px-2 md:px-4 py-2">

    <!-- main content section: contains the hotel menu items in grids (cards) -->
    <section class="mb-8">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold text-gray-800">{{ category.name }} Menu Items</h2>
            <a href="#" class="text-green-500 text-sm font-medium">View All</a>
        </div>
        <div class="flex flex-col gap-4">
            {% for menu_item in menu_items %}
            <!-- Menu Item -->
            <div class="border border-gray-200 bg-white rounded-xl overflow-hidden shadow-md transition-all duration-300 hover:transform hover:translate-y-[-5px] hover:shadow-[0_10px_15px_-3px_rgba(0,0,0,0.1)]">
                <div class="flex items-start p-4">
                    <!-- Image -->
                    <img src="{{ url_for('static', filename='uploads/items/'+menu_item.image_url) }}"
                        alt="{{ menu_item.name }}" width="100" height="100" class="w-32 h-32 object-contain mr-4" />
                    <div class="flex-1">
                        <!-- Menu Item Details -->
                        <h3 class="font-semibold text-gray-800">{{ menu_item.name }}</h3>
                        <p class="text-gray-500 text-sm mb-2">{{ menu_item.description }}</p>
                        <span class="text-green-600 font-semibold">@ ${{ menu_item.price }}</span>
                        <form method="post" action="{{ url_for('add_to_cart', item_id=menu_item.item_id) }}" class="mt-2 flex items-center">
                            <input type="number" name="quantity" min="1" value="1" class="px-4 py-1 border border-gray-300 mr-2">
                            <button type="submit" class="px-3 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600">
                                Order
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- end main content section -->


</div>
<!-- end overall sec -->

{% endblock %}