{% extends "base.html" %}

{% block content %}

<div class="app flex flex-col md:flex-row min-h-screen bg-gray-100">
    <!-- side navigation: contain logo, categories, and user profile -->
    <aside class="hidden lg:block shrink-0 w-auto bg-white shadow-lg md:min-h-screen p-4">
        <div class="flex items-center mb-8">
            <div class="bg-orange-500 text-white p-2 rounded-lg mr-2">
                <i class="fas fa-utensils"></i>
            </div>
            <a href="{{ url_for('index') }}" class="text-2xl font-semibold text-gray-800">Dine<span
                    class="text-orange-500">(VI)</span></a>
        </div>

        <div class="mb-8">
            <h2 class="text-gray-500 text-sm font-medium mb-4">MENU CATEGORIES</h2>
            <ul class="space-y-2">
                <li class="flex items-center p-2 rounded-lg bg-orange-50 text-orange-500">
                    <i class="fas fa-hamburger mr-3"></i>
                    <span>All Items</span>
                </li>
                <!-- Loop through categories dynamically -->
                {% for category in categories %}
                <a href="{{ url_for('category_items', category_id=category.category_id) }}"
                    class="flex space-x-2 items-center p-2 rounded-lg text-gray-700 hover:bg-gray-100">
                    <img src="{{ url_for('static', filename='uploads/categories/' + category.image_url) }}"
                        alt="{{ category.name }}" class="h-8">
                    <span>{{ category.name }}</span> <!-- Display category name -->
                </a>
                {% endfor %}
            </ul>
        </div>

    </aside>
    <!-- end side navigation -->

    <main class="flex-grow h-screen flex-1 flex flex-col bg-white p-4">
        <!-- navbar section: search items container, order icon, and cart icon -->
        <nav class="flex space-x-4 items-center justify-between mb-6 p-2">

            <div class="flex items-center lg:hidden">
                <a href="{{ url_for('side_categories') }}"
                    class="bg-orange-500 cursor-pointer text-white py-2 rounded-lg px-3">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <form action="{{ url_for('search_items') }}" method="get" class="relative flex-1 max-w-md">
                <input type="search" name="search" placeholder="Search for food, drinks, etc."
                    class="w-full p-2 pl-10 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent" />
                <button type="submit" class="fas fa-search absolute left-3 top-3 text-gray-400"></button>
            </form>
            <div class="flex items-center space-x-6">

                <a href="{{ url_for('view_cart') }}" class="relative">
                    <button class="text-gray-600 hover:text-gray-800">
                        <i class="fas fa-shopping-cart text-xl"></i>
                    </button>
                    <span
                        class="absolute top-[-8px] right-[-8px] bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs font-medium">
                        {{ session['cart']|length or 0 }}
                    </span>
                </a>
            </div>
        </nav>
        <!-- end navbar section -->

        <!-- overall content -->
        <div class="flex-grow overflow-y-auto px-2 md:px-4 py-2">



            {% block guest_content %}{% endblock %}


        </div>
        <!-- end overall sec -->
    </main>
</div>

{% endblock %}